@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grad {
  background-image: linear-gradient(to right, #ffdcf3, #d7ffff);
  padding: 0.15rem;
}

.my-input::placeholder {
  font-size: 0.65rem;
}
